# Copy to .env.local and fill
NEXT_PUBLIC_SITE_URL=https://aacoolings.com
SANITY_PROJECT_ID=
SANITY_DATASET=production
ALGOLIA_APP_ID=
ALGOLIA_SEARCH_KEY=
ALGOLIA_ADMIN_KEY=
HUBSPOT_PORTAL_ID=
TIDIO_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=
AWS_SES_FROM=info@aacoolings.com
